
# BEGIN BackUpWordPress
# El archivo de seguridad .htaccess evita que otros puedan descargar tus copias de seguridad.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=c4ca4238a0b923820dcc509a6f75849b
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress
